<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :passenger_name %><br>
    <%= f.text_field :passenger_name %>
  </div>
  <div class="field">
    <%= f.label :from_station_id %><br>
    <%= f.select :from_station_id, options_for_select(Station.list)  %>
  </div>
  <div class="field">
    <%= f.label :to_station_id %><br>
    <%= f.select :to_station_id, options_for_select(Station.list)  %>
  </div>
  <div class="field">
    <%= f.label :journey_date %><br>
    <%= f.datetime_select :journey_date %>
  </div>
  <div class="actions">
    <%= f.submit 'calculate Fare and generate ticket' %>
  </div>
<% end %>

