<p id="notice"><%= notice %></p>

<p>
  <strong>Passenger name:</strong>
  <%= @ticket.passenger_name %>
</p>

<p>
  <strong>From station:</strong>
  <%= Station.name @ticket.from_station_id %>
</p>

<p>
  <strong>To station:</strong>
  <%= Station.name @ticket.to_station_id %>
</p>

<p>
  <strong>Journey date:</strong>
  <%= @ticket.journey_date %>
</p>

<p>
  <strong>Fare:</strong>
  <%= @ticket.fare %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
